.MemeContainer{
    background:white;        
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    /* padding-top: 2%; */
    padding: 5%;
    padding-top: 4%;
}

#memesPages{
    position: sticky;
    top: 0%;
}