.MemeDesc{
    position: sticky;
    top: 100%;
}

.card{
    box-shadow: 2px 2px 5px #999;
    width: 15rem;
    margin: 10px;
}

img{
    max-height: 200px; 
    max-width: 100%; 
}

p{
    margin: 1px;
    font-size: 14px;
}

#btnSeleccionar{
    position: sticky;
    top: 100%;
}